.App {
  font-family: 'Outfit', sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr minmax(50px,200px) minmax(50px,200px) minmax(50px,200px);
  height: 100vh;
}
body{
  height: 100vh;
}
.header{
  background-color: #00ADB5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h2{
  font-size: 1.5rem;
  font-weight: 500;
}
.header:hover{
  cursor: pointer;
  opacity: 0.95;
}

.logo{
  display: flex;
  justify-content: left;
}
.logo img{
  max-width: 80%;
  max-height: 80%;
  margin-left: 1rem;
}
.content{
  grid-row: 2/3;
  grid-column: 1/5;
  background-color: white;
}

/* Form  */
/* Sign up  */
.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  margin-top: 4%;
  max-width: 350px;
  min-width: 250px;
  border: 0px solid #393e46;
  border-radius: 15px;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  background-color: #eeeeee;
}
.form h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}
.form h3 {
  text-align: center;
}
.form input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
}
.form input[type='checkbox'] {
  display: inline-block;
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 10px;
}
.blue-submit-button {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  height: 2.5rem;
  background-color: #00adb5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
}
.blue-submit-button:hover {
  opacity: 0.8;
}
.form button:hover {
  cursor: pointer;
}
.form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  resize: none;
}